<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Location" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="code"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="type"></dxi-column>
        <dxi-column dataField="priceControlCategoryCode"></dxi-column>
        <dxi-column dataField="stockControlCategoryCode"></dxi-column>
        <dxi-column dataField="address"></dxi-column>
        <dxi-column dataField="phone"></dxi-column>
        <dxi-column dataField="email"></dxi-column>
        <dxi-column dataField="contact"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="800" [height]="600" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]=" editResource">
        <dxi-item itemType="tabbed">
            <dxi-tab title="General" [colCount]="6">
                <dxi-item dataField="code" [colSpan]="2">
                    <dxi-validation-rule type="required" message="Code cannot be empty."></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="description" [colSpan]="4"></dxi-item>
            
                <dxi-item dataField="type" [colSpan]="2">
                    <dxo-label text="Type"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [items]="['Head Office', 'Warehouse', 'Store']"
                            [(value)]="editResource.type" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="priceControlCategoryId" [colSpan]="2">
                    <dxo-label text="Price Control Category"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listPriceControlCategory" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.priceControlCategoryId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="stockControlCategoryId" [colSpan]="2">
                    <dxo-label text="Stock Control Category"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listStockControlCategory" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.stockControlCategoryId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="address" [colSpan]="6"></dxi-item>
                <dxi-item dataField="phone" [colSpan]="3"></dxi-item>
                <dxi-item dataField="email" [colSpan]="3"></dxi-item>
                <dxi-item dataField="contact" [colSpan]="6"></dxi-item>

                <dxi-item dataField="remarks" [colSpan]="6"></dxi-item>
            </dxi-tab>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>