<header>
    <dx-toolbar class="header-toolbar">
        <dxi-item *ngIf="menuToggleEnabled" location="before" widget="dxButton" cssClass="menu-button" 
        [options]="{
            icon: 'menu',
            stylingMode: 'text',
            onClick: toggleMenu
        }">
        </dxi-item>
        <dxi-item location="before" cssClass="header-title" *ngIf="title" [text]="title">
        </dxi-item>

        <dxi-item location="before">
            <span id="page-title" class="content-block" style="font-size: 18px; color: cornflowerblue;"></span>
        </dxi-item>

        <dxi-item location="after">
            <dx-button text="Logout" type="danger" style="padding-top:1px" (onClick)="logout()"></dx-button>
        </dxi-item>
    </dx-toolbar>
</header>