<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Tax" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="code"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="type"></dxi-column>
        <dxi-column dataField="rate" dataType="number" format="#,##0.##"></dxi-column>
        <dxi-column dataField="amount" dataType="number" format="#,##0.##"></dxi-column>
        <dxi-column dataField="remarks"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="600" [height]="400" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]="editResource" [colCount]="6">
        <dxi-item dataField="code" [colSpan]="2"></dxi-item>
        <dxi-item dataField="description" [colSpan]="4"></dxi-item>

        <dxi-item dataField="type" [colSpan]="2">
            <dxo-label text="Type"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [items]="['Value Added Tax', 'Income Tax', 'Other Tax']" [(value)]="editResource.type"
                    [searchEnabled]="true"></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item dataField="rate" [colSpan]="2">
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editResource.rate"></dx-number-box>
            </div>
        </dxi-item>

        <dxi-item dataField="amount" [colSpan]="2">
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editResource.amount"></dx-number-box>
            </div>
        </dxi-item>

        <dxi-item dataField="remarks" [colSpan]="6"></dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>