<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New User" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Role" type="normal" [height]="35" (onClick)="navigateTo('role')"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="userName"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="role"></dxi-column>
        <dxi-column dataField="isAdministrator"></dxi-column>
        <dxi-column dataField="defaultLocationCode"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="800" [height]="600" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]=" editResource">
        <dxi-item itemType="tabbed">
            <dxi-tab title="General" [colCount]="6">
                <dxi-item dataField="userName" [colSpan]="3"></dxi-item>
                
                <dxi-item dataField="password" [colSpan]="3">
                    <div *dxTemplate>
                        <dx-text-box [(value)]="editResource.password" [(mode)]="passwordMode">
                            <dxi-button name="password" location="after" [options]="passwordButton"></dxi-button>
                        </dx-text-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="description" [colSpan]="6"></dxi-item>
                
                <dxi-item dataField="roleId" [colSpan]="6">
                    <dxo-label text="Role"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listRole" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.roleId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="locationId" [colSpan]="6">
                    <dxo-label text="Location"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listLocation" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.defaultLocationId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>
            </dxi-tab>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>