<div class="content-form">
    <dx-form [formData]="editResource" [colCount]="12">

        <dxi-item dataField="documentNumber" [colSpan]="2">
            <dxo-label text="Document No."></dxo-label>
            <div *dxTemplate>
                <dx-text-box [value]="editResource.documentNumber" [readOnly]="true"></dx-text-box>
            </div>
        </dxi-item>

        <dxi-item dataField="documentDate" [colSpan]="2">
            <dxo-label text="Document Date"></dxo-label>
            <div *dxTemplate>
                <dx-date-box [(value)]="editResource.documentDate" displayFormat="dd/MM/yyyy"
                    [readOnly]="!(privilege.isAdministrator || privilege.changeTransactionDate) || mode == 'view'"></dx-date-box>
            </div>
        </dxi-item>

        <dxi-item dataField="supplierId" [colSpan]="4">
            <dxo-label text="Supplier"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editResource.supplierId" [dataSource]="supplierDataSource" valueExpr="id"
                    displayExpr="code" [searchEnabled]="true" [readOnly]="mode == 'view'"></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item dataField="locationId" [colSpan]="4">
            <dxo-label text="Location"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editResource.locationId" [dataSource]="locationDataSource" valueExpr="id"
                    displayExpr="code" [searchEnabled]="true"
                    [readOnly]="!(privilege.isAdministrator || privilege.changeTransactionLocation) || mode == 'view'"></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item dataField="referenceNumber" [colSpan]="2">
            <dxo-label text="Reference No."></dxo-label>
            <div *dxTemplate>
                <dx-text-box [(value)]="editResource.referenceNumber" [readOnly]="mode == 'view'"></dx-text-box>
            </div>
        </dxi-item>

        <dxi-item dataField="status" [colSpan]="2">
            <dxo-label text="Status"></dxo-label>
            <div *dxTemplate>
                <dx-text-box [(value)]="editResource.status" [readOnly]="true"></dx-text-box>
            </div>
        </dxi-item>

        <dxi-item dataField="remarks" [colSpan]="8">
            <dxo-label text="Remarks"></dxo-label>
            <div *dxTemplate>
                <dx-text-box [(value)]="editResource.remarks" [readOnly]="mode == 'view'"></dx-text-box>
            </div>
        </dxi-item>

        <dxi-item [colSpan]="12">
            <div *ngIf="mode != 'view'" class="h-scroll">
                <div class="h-scroll-item">
                    <dx-button class="mb-5" text="Add Item" icon="plus" type="success" (onClick)="createDetail()">
                    </dx-button>
                </div>
                
                <div class="h-scroll-item">
                    <span> <i>Scan Code:</i></span>
                </div>

                <div class="h-scroll-item">
                    <dx-text-box [width]="200" title="Scan Barcode" [(value)]="scanCodeValue" valueChangeEvent="keydown" (onKeyDown)="scanCode($event)">
                    </dx-text-box>
                </div>
            </div>
            
            <dx-data-grid #dataGridDetail class="dx-card wide-card" [sorting]="false"
                [dataSource]="editResource.details" height="45vh">

                <dxi-column [visible]="mode != 'view'" [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
                <div *dxTemplate="let template of 'actionTemplate'">
                    <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                        (onItemClick)="actionClick($event, template.data)">
                    </dx-drop-down-button>
                </div>

                <dxi-column dataField="sequence" caption="#" [width]="50"></dxi-column>
                <dxi-column dataField="itemCode" caption="Item Code" [minWidth]="100"></dxi-column>
                <dxi-column dataField="itemDescription" caption="Item Description" [minWidth]="200"></dxi-column>
                <dxi-column dataField="unit" caption="Unit" [minWidth]="50"></dxi-column>
                <dxi-column dataField="quantity" type="number" format="#,##0.##" caption="Qty" [minWidth]="50"></dxi-column>
                <dxi-column dataField="price" type="number" format="#,##0.##" caption="Price" [minWidth]="100"></dxi-column>
                <dxi-column dataField="discountPercent1" type="number" format="#,##0.##" caption="Disc% 1" [minWidth]="50"></dxi-column>
                <dxi-column dataField="discountPercent2" type="number" format="#,##0.##" caption="Disc% 2" [minWidth]="50"></dxi-column>
                <dxi-column dataField="discountAmount" type="number" format="#,##0.##" caption="Disc Amt" [minWidth]="50"></dxi-column>
                <dxi-column dataField="valueAddedTaxAmount" type="number" format="#,##0.##" caption="VAT" [minWidth]="50"></dxi-column>
                <dxi-column *ngIf="editResource.totalIncomeTax != 0" dataField="incomeTaxAmount" type="number" format="#,##0.##" caption="ICT" [minWidth]="50"></dxi-column>
                <dxi-column *ngIf="editResource.totalOtherTax != 0" dataField="otherTaxAmount" type="number" format="#,##0.##" caption="OTH" [minWidth]="50"></dxi-column>
                <dxi-column dataField="subtotalBeforeTax" type="number" format="#,##0.##" caption="Subtotal Before Tax" [minWidth]="150"></dxi-column>
            </dx-data-grid>
        </dxi-item>

        <dxi-item [colSpan]="12">
            <div class="right table-total">
                <table>
                    <tr>
                        <td class="subtotal-label">Total Before Tax</td>
                        <td class="subtotal-amount">{{editResource.totalBeforeTax.toLocaleString() }}</td>
                    </tr>
                    <tr>
                        <td class="subtotal-label">Value Added Tax</td>
                        <td class="subtotal-amount">{{editResource.totalValueAddedTax.toLocaleString() }}</td>
                    </tr>
                    <tr *ngIf="editResource.totalIncomeTax != 0">
                        <td class="subtotal-label">Income Tax</td>
                        <td class="subtotal-amount">{{editResource.totalIncomeTax.toLocaleString() }}</td>
                    </tr>
                    <tr *ngIf="editResource.totalOtherTax != 0">
                        <td class="subtotal-label">Other Tax</td>
                        <td class="subtotal-amount">{{editResource.totalOtherTax.toLocaleString() }}</td>
                    </tr>
                    <tr>
                        <td class="total-label">Total After Tax</td>
                        <td class="total-amount">{{editResource.totalAfterTax.toLocaleString() }}</td>
                    </tr>
                </table>
            </div>
        </dxi-item>

        <dxi-item [colSpan]="12">
            <div class="right">
                <dx-button [visible]="mode != 'view'" class="mr-10" text="SAVE" icon="check" type="default" [width]="100" (onClick)="save()">
                </dx-button>
                <dx-button [visible]="mode != 'view'" text="Cancel" type="normal" (onClick)="cancel()"></dx-button>
                <dx-button [visible]="mode == 'view'" text="Back" type="normal" (onClick)="back()"></dx-button>
            </div>
        </dxi-item>
    </dx-form>
</div>

<dx-popup [width]="600" [height]="650" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]="editDetail" [colCount]="6">
        <dxi-item dataField="sequence" editorType="dxNumberBox" [colSpan]="1"></dxi-item>
        <dxi-item dataField="itemId" [colSpan]="5">
            <dxo-label text="Item"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.itemId" [dataSource]="itemDataSource" valueExpr="id"
                    displayExpr="code" [searchEnabled]="true" (selectedItemChange)="itemChange()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="quantity" [colSpan]="2">
            <dxo-label text="Qty"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.quantity" (valueChange)="calculateDetail()"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="unit" [colSpan]="2">
            <dxo-label text="Unit"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.unit" [dataSource]="detailUnits" valueExpr="unit"
                    displayExpr="unit" [searchEnabled]="true" (selectedItemChange)="unitChange()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="price" [colSpan]="2">
            <dxo-label text="Price"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.price" (valueChange)="calculateDetail()"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item itemType="empty" [colSpan]="6"></dxi-item>
        <dxi-item dataField="discountPercent1" [colSpan]="2">
            <dxo-label text="Disc% 1"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.discountPercent1" (valueChange)="calculateDetail()"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="discountPercent2" [colSpan]="2">
            <dxo-label text="Disc% 2"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.discountPercent2" (valueChange)="calculateDetail()"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="discountAmount" [colSpan]="2">
            <dxo-label text="Disc Amount"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.discountAmount" (valueChange)="calculateDetail()"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item itemType="empty" [colSpan]="6"></dxi-item>
        <dxi-item dataField="valueAddedTaxId" [colSpan]="2">
            <dxo-label text="Value Added Tax"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.valueAddedTaxId" [dataSource]="listVat" valueExpr="id"
                    displayExpr="name" [searchEnabled]="true" (selectedItemChange)="calculateDetail()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="incomeTaxId" [colSpan]="2">
            <dxo-label text="Income Tax"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.incomeTaxId" [dataSource]="listIct" valueExpr="id"
                    displayExpr="name" [searchEnabled]="true" (selectedItemChange)="calculateDetail()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="otherTaxId" [colSpan]="2">
            <dxo-label text="Other Tax"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.otherTaxId" [dataSource]="listOth" valueExpr="id"
                    displayExpr="name" [searchEnabled]="true" (selectedItemChange)="calculateDetail()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="valueAddedTaxAmount" [colSpan]="2">
            <dxo-label text="VAT"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.valueAddedTaxAmount" [readOnly]="true"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="incomeTaxAmount" [colSpan]="2">
            <dxo-label text="ICT"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.incomeTaxAmount" [readOnly]="true"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="otherTaxAmount" [colSpan]="2">
            <dxo-label text="OTH"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editDetail.otherTaxAmount" [readOnly]="true"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item itemType="empty" [colSpan]="6"></dxi-item>
        <dxi-item dataField="subtotalBeforeTax" [colSpan]="2">
            <dxo-label>Subtotal Before Tax</dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [value]="editDetail.subtotalBeforeTax" [readOnly]="true"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="subtotalAfterTax" [colSpan]="2">
            <dxo-label>Subtotal After Tax</dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [value]="editDetail.subtotalAfterTax" [readOnly]="true"></dx-number-box>
            </div>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>