<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Item" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Category" type="normal" [height]="35" (onClick)="navigateTo('item-category')"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Subcategory" type="normal" [height]="35" (onClick)="navigateTo('item-subcategory')"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Tag" type="normal" [height]="35" (onClick)="navigateTo('item-tag')"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Unit" type="normal" [height]="35" (onClick)="navigateTo('unit')"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="code"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="barcode"></dxi-column>
        <dxi-column dataField="unit"></dxi-column>
        <dxi-column dataField="itemCategoryCode" caption="Category"></dxi-column>
        <dxi-column dataField="itemSubcategoryCode" caption="Subcategory"></dxi-column>
        <dxi-column dataField="tag"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="800" [height]="600" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]=" editResource">
        <dxi-item itemType="tabbed">
            <dxi-tab title="General" [colCount]="12">
                <dxi-item dataField="code" [colSpan]="6"></dxi-item>
                <dxi-item dataField="barcode" [colSpan]="6"></dxi-item>
                <dxi-item dataField="description" [colSpan]="12"></dxi-item>

                <dxi-item dataField="purchasable" [colSpan]="2">
                    <dxo-label [visible]="false"></dxo-label>
                    <div *dxTemplate>
                        <dx-check-box [(value)]="editResource.purchasable" text="Purchasable"></dx-check-box>
                    </div>
                </dxi-item>
                <dxi-item dataField="sellable" [colSpan]="2">
                    <dxo-label [visible]="false"></dxo-label>
                    <div *dxTemplate>
                        <dx-check-box [(value)]="editResource.sellable" text="Sellable"></dx-check-box>
                    </div>
                </dxi-item>
                <dxi-item dataField="stockable" [colSpan]="2">
                    <dxo-label [visible]="false"></dxo-label>
                    <div *dxTemplate>
                        <dx-check-box [(value)]="editResource.stockable" text="Stockable"></dx-check-box>
                    </div>
                </dxi-item>
                <dxi-item dataField="manufacturable" [colSpan]="2">
                    <dxo-label [visible]="false"></dxo-label>
                    <div *dxTemplate>
                        <dx-check-box [(value)]="editResource.manufacturable" text="Manufacturable"></dx-check-box>
                    </div>
                </dxi-item>
                <dxi-item itemType="empty" [colSpan]="4"></dxi-item>
                
                <dxi-item dataField="itemCategoryId" [colSpan]="6">
                    <dxo-label text="Item Category"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listCategory" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.itemCategoryId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="itemSubcategoryId" [colSpan]="6">
                    <dxo-label text="Item Subcategory"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listSubcategory" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.itemSubcategoryId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="tag" [colSpan]="12">
                    <dxo-label text="Tag"></dxo-label>
                    <div *dxTemplate>
                        <dx-tag-box [dataSource]="listTag" [searchEnabled]="true" valueExpr="code" displayExpr="code" [(value)]="editTag">
                        </dx-tag-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="unit" [colSpan]="3">
                    <dxo-label text="Unit"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listUnit" valueExpr="code" displayExpr="code"
                            [(value)]="editResource.unit" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="purchasePrice" [colSpan]="3">
                    <div *dxTemplate>
                        <dx-number-box format="#,##0.##" [(value)]="editResource.purchasePrice"></dx-number-box>
                    </div>
                </dxi-item>
                <dxi-item dataField="salesPrice" [colSpan]="3">
                    <div *dxTemplate>
                        <dx-number-box format="#,##0.##" [(value)]="editResource.salesPrice"></dx-number-box>
                    </div>
                </dxi-item>
            </dxi-tab>

            <dxi-tab title="Unit" [colCount]="1">
                <dx-button class="mb-5" type="success" text="Add Unit" (onClick)="dataGridUnit.instance.addRow()"></dx-button>
                <dx-data-grid #dataGridUnit [dataSource]="editResource.units" keyExpr="unit">
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true">
                    </dxo-editing>

                    <dxi-column dataField="unit" [editorOptions]="{ placeholder: '' }">
                        <dxo-lookup [dataSource]="listUnit" valueExpr="code" displayExpr="code"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="ratio" dataType="number"></dxi-column>
                </dx-data-grid>
            </dxi-tab>

            <dxi-tab title="Supplier" [colCount]="1">
                <dxi-item dataField="supplierId" [colSpan]="1">
                    <dxo-label text="Supplier"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="supplierDataSource" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.supplierId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="supplierItemCode" [colSpan]="1"></dxi-item>
            </dxi-tab>

            <dxi-tab title="Remarks">
                <dxi-item dataField="remarks"></dxi-item>
            </dxi-tab>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>