<div class="content-form">
    <dx-form [formData]="editResource" [colCount]="12">
        <dxi-item dataField="code" [colSpan]="4">
            <dxi-validation-rule type="required" message="Code cannot be empty."></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="description" [colSpan]="8">
            <dxi-validation-rule type="required" message="Description cannot be empty."></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="parentId" [colSpan]="6">
            <dxo-label text="Parent Item"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editResource.parentId" [dataSource]="parentItemDataSource" valueExpr="id"
                    displayExpr="code" [searchEnabled]="true" (selectedItemChange)="parentItemChange()"></dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="parentQuantity" [colSpan]="2" editorType="dxNumberBox"></dxi-item>
        <dxi-item dataField="parentUnit" [colSpan]="2">
            <dxo-label text="Unit"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editResource.parentUnit" [dataSource]="parentUnits" valueExpr="unit"
                    displayExpr="unit" (selectedItemChange)="parentUnitChange()"></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item dataField="parentRatio" [colSpan]="2" editorType="dxNumberBox"></dxi-item>

        <dxi-item [colSpan]="12">
            <div class="h-scroll">
                <div class="h-scroll-item">
                    <dx-button class="mb-5" text="Add Component" icon="plus" type="success" (onClick)="createDetail()">
                    </dx-button>
                </div>
            </div>
            
            <dx-data-grid #dataGridDetail class="dx-card wide-card" [sorting]="false"
                [dataSource]="editResource.details" height="50vh">

                <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
                <div *dxTemplate="let template of 'actionTemplate'">
                    <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                        (onItemClick)="actionClick($event, template.data)">
                    </dx-drop-down-button>
                </div>

                <dxi-column dataField="sequence" caption="#"></dxi-column>
                <dxi-column dataField="componentCode" caption="Component Code"></dxi-column>
                <dxi-column dataField="componentDescription" caption="Component Description"></dxi-column>
                <dxi-column dataField="componentQuantity" caption="Qty" dataType="number"></dxi-column>
                <dxi-column dataField="componentUnit" caption="Unit"></dxi-column>
                <dxi-column dataField="componentRatio" caption="Ratio" dataType="number"></dxi-column>
                <dxi-column dataField="remarks" caption="Remarks"></dxi-column>
            </dx-data-grid>
        </dxi-item>

        <dxi-item [colSpan]="12">
            <div class="right">
                <dx-button class="mr-10" text="SAVE" icon="check" type="default" [width]="100" (onClick)="save()">
                </dx-button>
                <dx-button text="Cancel" type="normal" (onClick)="cancel()"></dx-button>
            </div>
        </dxi-item>
    </dx-form>
</div>

<dx-popup [width]="600" [height]="400" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]="editDetail" [colCount]="6">
        <dxi-item dataField="sequence" editorType="dxNumberBox" [colSpan]="1"></dxi-item>
        <dxi-item dataField="componentId" [colSpan]="5">
            <dxo-label text="Component Item"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.componentId" [dataSource]="componentItemDataSource" valueExpr="id"
                    displayExpr="code" [searchEnabled]="true" (selectedItemChange)="componentItemChange()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="componentQuantity" editorType="dxNumberBox" [colSpan]="2"></dxi-item>
        <dxi-item dataField="componentUnit" [colSpan]="2">
            <dxo-label text="Component Unit"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="editDetail.componentUnit" [dataSource]="componentUnits" valueExpr="unit"
                    displayExpr="unit" [searchEnabled]="true" (selectedItemChange)="componentUnitChange()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="componentRatio" editorType="dxNumberBox" [colSpan]="2"></dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>