<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Price Control" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button [text]="filterText" type="normal" icon="filter" [height]="35" (onClick)="showFilter()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Category" type="normal" [height]="35" (onClick)="navigateTo('price-control-category')">
            </dx-button>
        </div>
    </div>
</div>

<dx-popup [width]="600" [height]="400" [closeOnOutsideClick]="false" title="Filter" [(visible)]="filterVisible"
    [toolbarItems]="toolbarFilter">
    <dx-form [colCount]="1">
        <dxi-item [colSpan]="1">
            <dxo-label text="Price Control Category"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="filter.priceControlCategoryId" [dataSource]="listCategory"
                    [searchEnabled]="true" valueExpr="id" displayExpr="code"></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item [colSpan]="1">
            <dxo-label text="Item"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="filter.itemId" [dataSource]="itemDataSource" [searchEnabled]="true"
                    valueExpr="id" displayExpr="code"></dx-select-box>
            </div>
        </dxi-item>
    </dx-form>
</dx-popup>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="priceControlCategoryCode" caption="Price Control Category"></dxi-column>
        <dxi-column dataField="itemCode"></dxi-column>
        <dxi-column dataField="itemDescription"></dxi-column>
        <dxi-column dataField="unit"></dxi-column>
        <dxi-column dataField="ratio" dataType="number"></dxi-column>
        <dxi-column dataField="price" dataType="number" format="#,##0.##"></dxi-column>
        <dxi-column dataField="minimumQuantity"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="600" [height]="400" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]=" editResource" [colCount]="6">
        <dxi-item dataField="priceControlCategoryId" [colSpan]="6">
            <dxo-label text="Price Control Category"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [dataSource]="listCategory" valueExpr="id" displayExpr="code"
                    [(value)]="editResource.priceControlCategoryId" [searchEnabled]="true"></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item dataField="itemId" [colSpan]="6">
            <dxo-label text="Item"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [dataSource]="itemDataSource" valueExpr="id" displayExpr="code"
                    [(value)]="editResource.itemId" [searchEnabled]="true" (selectedItemChange)="itemChange()">
                </dx-select-box>
            </div>
        </dxi-item>

        <dxi-item dataField="unit" [colSpan]="2">
            <dxo-label text="Unit"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [dataSource]="listItemUnit" valueExpr="unit" displayExpr="unit"
                    [(value)]="editResource.unit" [searchEnabled]="true" (selectedItemChange)="unitChange()">
                </dx-select-box>
            </div>
        </dxi-item>
        <dxi-item dataField="ratio" [colSpan]="1">
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editResource.ratio"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="price" [colSpan]="2">
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editResource.price"></dx-number-box>
            </div>
        </dxi-item>
        <dxi-item dataField="minimumQuantity" [colSpan]="1">
            <dxo-label text="Min Qty"></dxo-label>
            <div *dxTemplate>
                <dx-number-box format="#,##0.##" [(value)]="editResource.minimumQuantity"></dx-number-box>
            </div>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>