<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Price Control Category" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-editing mode="popup">
            <dxo-popup [title]="popupTitle" [showTitle]="true" [width]="600" [height]="400"
                [position]="{ my: 'center', at: 'center', of: 'window' }" [toolbarItems]="toolbarItems">
            </dxo-popup>
            <dxo-form [colCount]="1">
                <dxi-item dataField="code">
                    <dxi-validation-rule type="required" message="Code cannot be empty."></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="description"></dxi-item>
            </dxo-form>
        </dxo-editing>

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="code"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
    </dx-data-grid>
</div>