.h-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .h-scroll-item {
        display: inline-block;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-right: 5px;
    }
}
.h-scroll::-webkit-scrollbar {
    display: none;
}

.right {
    float: right;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.content-form {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;

    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;

    border-color: #cacaca;
    border-style: solid;
    border-width: 1px;

    .screen-x-small & {
        margin-left: 20px;
        margin-right: 20px;
    }
    background-color: white;
}

.table-total table {
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid lightgray;
        height: 30px;
    }
}

.subtotal-label {
    font-size: 14px;
    min-width: 50px;
    padding-left: 5px;
}

.subtotal-amount {
    font-size: 14px;
    text-align: right;
    min-width: 100px;
    padding-right: 5px;
}

.total-label {
    font-size: 14px;
    font-weight: bold;
    min-width: 50px;
    padding-left: 5px;
}

.total-amount {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    min-width: 100px;
    padding-right: 5px;
}
