<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Customer" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Category" type="normal" [height]="35" (onClick)="navigateTo('customer-category')"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="code"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="customerCategoryCode" caption="Customer Category"></dxi-column>
        <dxi-column dataField="priceControlCategoryCode" caption="Price Control Category"></dxi-column>
        <dxi-column dataField="locationCode" caption="Location"></dxi-column>
        <dxi-column dataField="address1"></dxi-column>
        <dxi-column dataField="phone1"></dxi-column>
        <dxi-column dataField="email1"></dxi-column>
        <dxi-column dataField="website1"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="800" [height]="600" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]=" editResource">
        <dxi-item itemType="tabbed">
            <dxi-tab title="General" [colCount]="6">
                <dxi-item dataField="code" [colSpan]="2"></dxi-item>
                <dxi-item dataField="name" [colSpan]="4"></dxi-item>
                
                <dxi-item dataField="categoryId" [colSpan]="3">
                    <dxo-label text="Customer Category"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listCategory" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.customerCategoryId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="priceControlCategoryId" [colSpan]="3">
                    <dxo-label text="Price Control Category"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="listPriceControlCategory" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.priceControlCategoryId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="locationId" [colSpan]="6">
                    <dxo-label text="Location"></dxo-label>
                    <div *dxTemplate>
                        <dx-select-box [dataSource]="locationDataSource" valueExpr="id" displayExpr="code"
                            [(value)]="editResource.locationId" [searchEnabled]="true"></dx-select-box>
                    </div>
                </dxi-item>

                <dxi-item dataField="remarks" [colSpan]="6"></dxi-item>
            </dxi-tab>

            <dxi-tab title="Contact 1" [colCount]="6">
                <dxi-item dataField="address1" [colSpan]="6"></dxi-item>
                <dxi-item dataField="phone1" [colSpan]="3"></dxi-item>
                <dxi-item dataField="email1" [colSpan]="3"></dxi-item>
                <dxi-item dataField="website1" [colSpan]="3"></dxi-item>
                <dxi-item dataField="contact1" [colSpan]="3"></dxi-item>
            </dxi-tab>

            <dxi-tab title="Contact 2" [colCount]="6">
                <dxi-item dataField="address2" [colSpan]="6"></dxi-item>
                <dxi-item dataField="phone2" [colSpan]="3"></dxi-item>
                <dxi-item dataField="email2" [colSpan]="3"></dxi-item>
                <dxi-item dataField="website2" [colSpan]="3"></dxi-item>
                <dxi-item dataField="contact2" [colSpan]="3"></dxi-item>
            </dxi-tab>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>