<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Role" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="Export Data" type="success" icon="xlsxfile" [height]="35" (onClick)="export()"></dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button text="User" type="normal" [height]="35" (onClick)="navigateTo('user')"></dx-button>
        </div>
    </div>
</div>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
        (onFileSaving)="onFileSaving($event)">

        <dxo-search-panel [visible]="true" [highlightSearchText]="false" [width]="250">
        </dxo-search-panel>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" [items]="['Update', 'Delete']"
                (onItemClick)="actionClick($event, template.data)">
            </dx-drop-down-button>
        </div>

        <dxi-column dataField="code"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="isAdministrator"></dxi-column>
    </dx-data-grid>
</div>

<dx-popup [width]="800" [height]="600" [closeOnOutsideClick]="false" [title]="popupTitle" [(visible)]="popupVisible"
    [toolbarItems]="toolbarItems">
    <dx-form [formData]=" editResource">
        <dxi-item itemType="tabbed">
            <dxi-tab title="General" [colCount]="1">
                <dxi-item dataField="code" [colSpan]="1">
                    <dxi-validation-rule type="required" message="Code cannot be empty."></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="description" [colSpan]="1"></dxi-item>
                <dxi-item dataField="isAdministrator" [colSpan]="1">
                    <dxo-label [visible]="false"></dxo-label>
                    <div *dxTemplate>
                        <dx-check-box [(value)]="editResource.isAdministrator" text="Administrator"></dx-check-box>
                    </div>
                </dxi-item>
            </dxi-tab>

            <dxi-tab title="Privilege">
                <dx-list [dataSource]="privileges" [(selectedItems)]="editResource.privileges"
                    [showSelectionControls]="true" selectionMode="multiple" [searchEnabled]="true" [height]="400"
                    pageLoadMode="scrollBottom" searchMode="contains"></dx-list>
            </dxi-tab>
        </dxi-item>
    </dx-form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>