<div class="content-block">
    <div class="h-scroll">
        <div class="h-scroll-item">
            <dx-button text="Create New Purchase Order" type="default" icon="add" [height]="35" (onClick)="create()">
            </dx-button>
        </div>
        <div class="h-scroll-item">
            <dx-button [text]="filterText" type="normal" icon="filter" [height]="35" (onClick)="showFilter()">
            </dx-button>
        </div>
    </div>
</div>

<dx-popup [width]="600" [height]="400" [closeOnOutsideClick]="false" title="Filter" [(visible)]="filterVisible"
    [toolbarItems]="toolbarFilter">
    <dx-form [colCount]="1">
        <dxi-item [colSpan]="1">
            <dxo-label text="Location"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="filter.locationId" [dataSource]="locationDataSource" [searchEnabled]="true"
                    valueExpr="id" displayExpr="code"></dx-select-box>
            </div>
        </dxi-item>
        <dxi-item [colSpan]="1">
            <dxo-label text="Supplier"></dxo-label>
            <div *dxTemplate>
                <dx-select-box [(value)]="filter.supplierId" [dataSource]="supplierDataSource" [searchEnabled]="true"
                    valueExpr="id" displayExpr="code"></dx-select-box>
            </div>
        </dxi-item>
    </dx-form>
</dx-popup>

<div class="content-block">
    <dx-data-grid #dataGrid class="dx-card wide-card" [dataSource]="dataSource" [remoteOperations]="true"
        [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true">

        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxi-column [width]="80" cellTemplate="actionTemplate" [allowExporting]="false"></dxi-column>
        <div *dxTemplate="let template of 'actionTemplate'">
            <div *ngIf="template.data.status == 'Open'">
                <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }"
                    [items]="['View', 'Print', 'Update', 'Close', 'Delete']"
                    (onItemClick)="actionClick($event, template.data)">
                </dx-drop-down-button>
            </div>
            <div *ngIf="template.data.status == 'Closed'">
                <dx-drop-down-button icon="menu" [dropDownOptions]="{ width: 100 }" 
                [items]="['View', 'Print', 'Open']"
                    (onItemClick)="actionClick($event, template.data)">
                </dx-drop-down-button>
            </div>
        </div>

        <dxi-column dataField="documentNumber"></dxi-column>
        <dxi-column dataField="documentDate" dataType="date" format="dd/MM/yyyy"></dxi-column>
        <dxi-column dataField="referenceNumber"></dxi-column>
        <dxi-column dataField="status"></dxi-column>
        <dxi-column dataField="locationCode"></dxi-column>
        <dxi-column dataField="supplierCode"></dxi-column>
        <dxi-column dataField="supplierDescription"></dxi-column>
        <dxi-column dataField="totalAfterTax" dataType="number" format="#,##0.##"></dxi-column>
    </dx-data-grid>
</div>